<p id="notice"><%= notice %></p>

<h1>Player Score Matches</h1>

<table>
  <thead>
    <tr>
      <th>Playerqualifier</th>
      <th>Playerqualified</th>

      <th>Scorepunctuality</th>
      <th>Scorefairplay</th>
      <th>Match</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_score_matches.each do |player_score_match| %>
      <tr>
        <td><%= player_score_match.playerqualifier %></td>
        <td><%= player_score_match.playerqualified %></td>

        <td><%= player_score_match.scorepunctuality %></td>
        <td><%= player_score_match.scorefairplay %></td>
        <td><%= player_score_match.match %></td>
        <td><%= link_to 'Show', player_score_match %></td>
        <td><%= link_to 'Edit', edit_player_score_match_path(player_score_match) %></td>
        <td><%= link_to 'Destroy', player_score_match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player Score Match', new_player_score_match_path %>
