<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @match.description %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @match.duration %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @match.datetime %>
</p>

<p>
  <strong>Organizerid:</strong>
  <%= @match.organizerid %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
